.animado
{
   opacity: 0;
   transition: all 3s; 
}

.mostrarDerecha
{
animation: mostrarDerecha 2s;
}
.mostrarAbajo
{
    animation: mostrarAbajo 2s;
}

@keyframes mostrarDerecha
{
    0%
    {
        transform: translateX(60px);
    }
    100%
    {
        transform: translateX(0);
    }
}
    @keyframes mostrarAbajo
    {
    0%
    {
        transform: translateY(-60px);
    }
    100%
    {
        transform: translateY(0);
    }    
}